.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 96px;
	background: white;
	padding-bottom: 96px;
}

.header {
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 2em;
	color: #0f2223;
	margin: 0;
}

.subheader {
	width: 640px;
	padding: 16px 0px;
	border-bottom: 10px solid #eee7e7;
	margin: 0;
	font-size: 1em;
	font-weight: normal;
}

.list {
	position: relative;
	width: 640px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.listItem {
	margin: 48px 0px 16px 0px;
	color: #0f2223;
}

.listItem + .listItem {
	margin: 16px 0px;
}

.link {
	padding: 6px 16px;
	background: #0f2223;
	border-radius: 4px;
	color: #eee7e7;
	text-decoration: none;
	display: inline-block;
	margin: 24px 0px 0px 0px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75em;
}

.link:hover, .link:focus {
	background: #245558;
	color: white;
}

@media screen and (max-width: 860px) {
	.list {
		width: 300px;
	}

	.header {
		font-size: 1em;
		width: 300px;
	}
	
	.subheader {
		width: 300px;
	}
}